.button{
    color: $b-text;
    background: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}