@font-face {
    font-family: 'OpenSans-Regular';
    src: url('/src/fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('/src/fonts/OpenSans-SemiBold.ttf') format('truetype');
}