$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$o-semibold: 'OpenSans-SemiBold', sans-serif;
$o-regular: 'OpenSans-Regular', sans-serif;

$accent: #2196F3;
$bg-airlines: #F3F7FA;
$b-text: #4A4A4A;
$gray: #A0B0B9;
$label-hover: #F1FCFF;
$bg-filter: #fff;
$bg-ticket: #fff;
$g-border: #DFE5EC;

$filter-gutter: 20px;
$b-radius: 5px;
$container-width: 750px;

